html
  head
    title= title
  body
    h1= title
    main
      section
          h2 Выберите количество новостей
          form(method='post', action='/news')
            label(for='counts') Количество (От 1 до 10) -
            | &nbsp;
            input#counts(type='number' name='counts' min='1' max='10' required)
            | &nbsp;
            button(type='submit') Показать