doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    title= title
    link(rel="stylesheet" href="main.css")
  body
    main.authorization
      h1= title
      section
        h2 Заполните форму
        form.loginForm(method="post" action="/auth")
          div
            label(for="username") Логин
            input#username(type="text" name="username" maxlength="8" required)
          div
            label(for="password") Пароль
            input#password(type="password" name="password" maxlength="8" required)
          button#submitButton(type="submit") Войти
