<form method="post">
  <p><input type="text" name="login" placeholder="login"></p>
  <p><input type="password" name="password" placeholder="password"></p>
  <p><input type="submit" value="Войти"></p>
</form>
<p style="color:red">{{error}}</p> 