<h2>Форма для ввода логина и пароля:</h2>
<form action="/auth" method="POST">
  <input type="text" id="login" name="username" placeholder="логин"><br>
  <input type="password" id="pass" name="password" placeholder="пароль"><br><br>
  <button>ОК</button>
</form>